{
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "trailingComma": "all",
    "bracketSpacing": true,
    "tabWidth": 4,
    "endOfLine": "auto"
}
